<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="./public/css/aos.css">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <link rel="icon" href="../../img/LogoPersonal.webp">
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <title>ProtaFolioDeEvidenciasLuisAlbertoAvilaOlilvares</title>
</head>
<body class="ClassParaModoFicarSiste">
    <!--Contenido De Nav-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary TipoDeLetraYFondo shadow-lg" id="menu">
        <div class="container-fluid">
        <div class="ms-5">
            <a href="/index.html" class="ms-5 ContenidoDeVideos"><img class="navbar-brand ms-5" src="../../img/LogoPersonal.webp" width="40rem"
                alt="ImgNoEncontrada" /></a>
        </div>
            <button class="navbar-toggler EfectoDeNavResaltarLetras" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><img src="./img/IconoDeNav.webp" class="EfectoDeNavResaltarLetras" width="25rem" alt="" /></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!--Fila 1-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">    
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion1"><p class="ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeFrontEnd.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Front End</b></p></a>
                    </li>
                    <!--Fila 1-->

                    <!--Fila 2-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion2"><p class=" ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeBackEnd.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Back End</b></p></a>
                    </li>
                    <!--Fila 2-->

                    <!--Fila 3-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion3"><p class=" ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeRedes.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Redes</b></p></a>
                    </li>
                    <!--Fila 3-->

                    <!--Fila 4-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion4"><p class=" ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeComputacion.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Informatica Comp</b></p></a>
                    </li>
                    <!--Fila 4-->

                    <!--Fila 5-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion5"><p class=" ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeSistemas.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Instaladores Sistema y Office</b></p></a>
                    </li>
                    <!--Fila 5-->
                </ul>
            </div>
        </div>
    </nav>
    <!--Contenido De Nav-->



        <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
        <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
        <script src="./public/js/mascaraDeCarga/jquery-3.2.1.min.js"></script>
        <script src="./public/js/mascaraDeCarga/jquery.blockUI.js"></script>
        <script src="./public/js/mascaraDeCarga/mascara.js"></script>
        <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
        <script src="../js/bootstrap/bootstrap.min.js"></script>

    <script src="./public/js/aos.js"></script>
        <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
</body>
</html>