<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../../public/css/aos.css">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <link rel="icon" href="../../img/LogoPersonal.webp">
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <title>ProtaFolioDeEvidenciasLuisAlbertoAvilaOlilvares</title>
</head>
<body class="ClassParaModoFicarSiste">
    <!--Contenido De Nav-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary TipoDeLetraYFondo shadow-lg" id="menu">
        <div class="container-fluid">
        <div class="ms-5">
            <a href="/index.html" class="ms-5 ContenidoDeVideos"><img class="navbar-brand ms-5" src="../../img/LogoPersonal.webp" width="40rem"
                alt="ImgNoEncontrada" /></a>
        </div>
            <button class="navbar-toggler EfectoDeNavResaltarLetras" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><img src="./img/IconoDeNav.webp" class="EfectoDeNavResaltarLetras" width="25rem" alt="" /></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!--Fila 1-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">    
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion1"><p class="ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeFrontEnd.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Front End</b></p></a>
                    </li>
                    <!--Fila 1-->

                    <!--Fila 2-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion2"><p class=" ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeBackEnd.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Back End</b></p></a>
                    </li>
                    <!--Fila 2-->

                    <!--Fila 3-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion3"><p class=" ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeRedes.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Redes</b></p></a>
                    </li>
                    <!--Fila 3-->

                    <!--Fila 4-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion4"><p class=" ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeComputacion.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Informatica Comp</b></p></a>
                    </li>
                    <!--Fila 4-->

                    <!--Fila 5-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion5"><p class=" ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeSistemas.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Instaladores Sistema y Office</b></p></a>
                    </li>
                    <!--Fila 5-->
                </ul>
            </div>
        </div>
    </nav>
    <!--Contenido De Nav-->

    <!--Espacio De Trabajo-->
    <div class="container">
                <!--Contenido De 2 Card-->
                <div class="row">
                    <div class="col-sm-6 mb-3 mb-sm-0" data-aos="zoom-in">
                        <div class="mt-5">
                            <h1 class="text-white mt-5 ms-3 TipoDeLetraEnSubTituloYTitulo"><b>Ejemplos de Algunos Cursos De Programacion</b></h1>
                            <h4 class="text-white mt-3"><b>Nombre De Canal: Creative Code</b></h4>
                        </div>
                    </div>
                    <div class="col-sm-6" data-aos="zoom-in">
                        <div class="text-center mt-4">
                            <img src="/img/ImgDeViewsEjemplo1Img1.gif" width="280 rem;" class="img-fluid rounded-3 border-0 ColocarEfectoDeZoom" alt="ImgNoEncontrada">
                        </div>
                    </div>
                </div>
                <!--Contenido De 2 Card-->
                <!--Seccion De 2 Card Informacion Personal De Ejemplos De Proyectos-->
                <div class="row mt-5">
                    <div class="col-sm-6 mb-3 mb-sm-0" data-aos="zoom-in">
                        <div class="text-center mt-4">
                            <img src="/img/ImgCapturaDeCanalYoutube.webp" class="img-fluid rounded-3 border-0 ColocarEfectoDeZoom" alt="ImgNoEncontrada">
                        </div>
                    </div>
                    <div class="col-sm-6" data-aos="zoom-in">
                      <div class="text-center">
                        <br><br>
                        <h5 class="text-white text-center mt-5"><b>En esta sección, te proporciono el enlace a mi canal, el cual está en sus primeras etapas de crecimiento y actualmente cuenta con poco contenido. Sin embargo, con el tiempo, iré añadiendo más videos sobre programación en JavaScript, PHP, y otros temas especiales que vaya estudiando. </b></h5>
                        <h5 class="text-white text-center mt-5"><b>Todo el contenido del canal está diseñado para fomentar el estudio de las diversas herramientas que tenemos a nuestra disposición. ¡Te invito a suscribirte y acompañarme en este viaje de aprendizaje continuo!</b></h5>
                    </div>
                    </div>
                  </div>
                <!--Seccion De 2 Card Informacion Personal De Ejemplos De Proyectos-->
                <h4 class="text-white mt-5" data-aos="zoom-in"><b>Seccion De Algunos Videos Del Canal</b></h4>
                <h5 class="text-white ms-5 mt-3" data-aos="zoom-in"><b>Nota: Realizare Más Contenido</b></h5>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
                    <div class="col" data-aos="zoom-in">
                        <!--Seccion De Video-->
                        <div class="ratio ratio-16x9 ColocarEfectoDeZoom">
                            <iframe src="https://www.youtube.com/embed/qehOj3L2-VA?si=WLmXXmTVpih3NaXL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <!--Seccion De Video-->
                    </div>
                    <div class="col" data-aos="zoom-in">
                        <!--Seccion De Video-->
                        <div class="ratio ratio-16x9 ColocarEfectoDeZoom">
                            <iframe src="https://www.youtube.com/embed/1tIwMDPqyXA?si=bZ5Is07BvWQGYcT3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <!--Seccion De Video-->
                    </div>
                    <div class="col" data-aos="zoom-in">
                        <!--Seccion De Video-->
                        <div class="ratio ratio-16x9 ColocarEfectoDeZoom">
                            <iframe src="https://www.youtube.com/embed/PutRZ8e76-A?si=gRx6bp11RAFG2LbH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <!--Seccion De Video-->
                    </div>
                    <div class="col" data-aos="zoom-in">
                        <!--Seccion De Video-->
                        <div class="ratio ratio-16x9 ColocarEfectoDeZoom">
                            <iframe src="https://www.youtube.com/embed/xUVEGxP1eQI?si=vwF6R9nAwwEVWRDG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <!--Seccion De Video-->
                    </div>
                  </div>

        <!--Seccion De Redes Y Git-->
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
            <div class="col" data-aos="fade-down">
              <!--Seccion De Img Redes-->
              <div class="card rounded-circle colorDeCardTransparente border-0" style="width: 15rem;">
                <div class="card-body">
                  <div class="text-center mt-3">
                    <a href="https://www.facebook.com/profile.php?id=100095789970369"><img src="../../img/Facebook.webp" width="150 rem;" class="img-fluid" alt="ImgNoEncontrada"></a>
                  </div>
                </div>
              </div>
              <!--Seccion De Img Redes-->
            </div>
            <div class="col" data-aos="fade-up">
              <!--Seccion De Img Redes-->
              <div class="card rounded-circle colorDeCardTransparente border-0" style="width: 15rem;">
                <div class="card-body">
                  <div class="text-center mt-3">
                    <a href="https://github.com/LuisAlbertoAttack1"><img src="../../img/Git.webp" width="150 rem;" class="img-fluid" alt="ImgNoEncontrada"></a>
                  </div>
                </div>
              </div>
              <!--Seccion De Img Redes-->
            </div>
            <div class="col" data-aos="fade-down"      >
              <!--Seccion De Img Redes-->
              <div class="card rounded-circle colorDeCardTransparente border-0" style="width: 15rem;">
                <div class="card-body">
                  <div class="text-center mt-3">
                    <a href="https://www.youtube.com/channel/UCJgEKTud3kMBHK98XHUHOhg"><img src="../../img/YouTube.webp" width="150 rem;" class="img-fluid" alt="ImgNoEncontrada"></a>
                  </div>
                </div>
              </div>
              <!--Seccion De Img Redes-->
            </div>
        </div>
        <!--SEccion De Redes Y Git-->

                <!--Div De Abajo Es De Container-->
    </div>
    <!--Espacio De Trabajo-->

    <!--Container Donde Contiene El Footer-->
    <!--Vista Celular Footer-->
    <div class="shadow-lg border-1">
        <hr class="text-white">
        <!-- Logos juntos en vista móvil -->
        <div class="container d-flex flex-column justify-content-center align-items-center d-md-none mb-4">
          <div class="d-flex justify-content-center mb-3">
              <img src="../../img/LogoPersonal.webp" width="100rem" class="img-fluid mt-2 mb-2 mr-2" alt="Logo Principal">
              <img src="../../img/ImgGifFooter.gif" width="100rem" class="img-fluid mt-2 mb-2 ml-2" alt="Logo Gamer">
          </div>
          <div class="text-center mb-3">
                      <!--Contenido Final De Pagina-->
                      <h5 class="text-white mt-4 text-center"><b>Cretive Code<hr></b></h5>
                      <h6 class="text-white mt-3 mb-3 text-center">Portafolio De Evidencias De Luis Alberto Avila Olivares</h6>
                    <!--Contenido Final De Pagina-->
          </div>
          <div class="text-center mb-3">
                      <!--Contenido Final De Pagina-->
                      <h5 class="text-white mt-4 text-center"><b>Luis Albertoo Avila Olivares<hr></b></h5>
                      <h6 class="text-white mt-3 mb-3 text-center">Creative Code - Todos los Derechos Reservados</h6>
                      <!--Contenido Final De Pagina-->
          </div>
      </div>
        <!-- Logos separados en vista de escritorio -->
        <div class="container-fluid d-none d-md-flex justify-content-center align-items-center">
          <div class="row">
            <div class="col">
              <div class="text-center mb-3">
                <img src="../../img/LogoPersonal.webp" width="150rem" class="img-fluid mt-2" alt="" srcset="">
              </div>
            </div>
            <div class="col">
              <div class="text-center mb-3 mx-3"> <!-- Añadido mx-3 para margen horizontal -->
                <!--Contenido Final De Pagina-->
                <h5 class="text-white mt-4 text-center"><b>Cretive Code<hr></b></h5>
                <h6 class="text-white mt-3 mb-3 text-center">Portafolio De Evidencias De Luis Alberto Avila Olivares</h6>
              <!--Contenido Final De Pagina-->
            </div>
            </div>
            <div class="col">
              <div class="text-center mb-3 mx-3"> <!-- Añadido mx-3 para margen horizontal -->
                <!--Contenido Final De Pagina-->
                <h5 class="text-white mt-4 text-center"><b>Luis Albertoo Avila Olivares<hr></b></h5>
                <h6 class="text-white mt-3 mb-3 text-center">Creative Code - Todos los Derechos Reservados</h6>
                <!--Contenido Final De Pagina-->
            </div>
            </div>
            <div class="col">
              <div class="text-center">
                <img src="../../img/ImgGifFooter.gif" width="150rem" class="img-fluid mt-2" alt="" srcset="">
              </div>
            </div>
          </div>
      </div>
    </div>
    <!--Vista Celular Footer-->
    <!--Container Donde Contiene El Footer-->

        <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
        <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
        <script src="../../public/js/mascaraDeCarga/jquery-3.2.1.min.js"></script>
        <script src="../../public/js/mascaraDeCarga/jquery.blockUI.js"></script>
        <script src="../../public/js/mascaraDeCarga/mascara.js"></script>
        <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
        <script src="../js/bootstrap/bootstrap.min.js"></script>

    <script src="../../public/js/aos.js"></script>
        <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
</body>
</html>