<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../../public/css/aos.css">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <link rel="icon" href="../../img/LogoPersonal.webp">
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <title>ProtaFolioDeEvidenciasLuisAlbertoAvilaOlilvares</title>
</head>
<body class="ClassParaModoFicarSiste">
    <!--Contenido De Nav-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary TipoDeLetraYFondo shadow-lg" id="menu">
        <div class="container-fluid">
        <div class="ms-5">
            <a href="/index.html" class="ms-5 ContenidoDeVideos"><img class="navbar-brand ms-5" src="../../img/LogoPersonal.webp" width="40rem"
                alt="ImgNoEncontrada" /></a>
        </div>
            <button class="navbar-toggler EfectoDeNavResaltarLetras" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><img src="./img/IconoDeNav.webp" class="EfectoDeNavResaltarLetras" width="25rem" alt="" /></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!--Fila 1-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">    
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion1"><p class="ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeFrontEnd.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Front End</b></p></a>
                    </li>
                    <!--Fila 1-->

                    <!--Fila 2-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion2"><p class=" ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeBackEnd.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Back End</b></p></a>
                    </li>
                    <!--Fila 2-->

                    <!--Fila 3-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion3"><p class=" ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeRedes.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Redes</b></p></a>
                    </li>
                    <!--Fila 3-->

                    <!--Fila 4-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion4"><p class=" ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeComputacion.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Informatica Comp</b></p></a>
                    </li>
                    <!--Fila 4-->

                    <!--Fila 5-->
                    <li class="nav-item ms-4 mt-1 tracking-in-contract-bck">
                        <a class="btn EfectoDeNavResaltarLetras" href="#Seccion5"><p class=" ms-2 mt-2 text-white"><b> <img src="../../img/IconoDeSistemas.webp" width="16rem" class="img-fluid" alt="IconoNoEncontrado" srcset=""> Instaladores Sistema y Office</b></p></a>
                    </li>
                    <!--Fila 5-->
                </ul>
            </div>
        </div>
    </nav>
    <!--Contenido De Nav-->

    <!--Contenido De Container Principal-->
    <div class="container">
        <!--Contenido De 2 Card-->
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="mt-5">
                    <h1 class="text-white mt-5 ms-3 TipoDeLetraEnSubTituloYTitulo"><b>Ejemplos de Algunos Proyectos</b></h1>
                    <h5 class="text-white ms-3">Desarrollados con las tecnologias html 5, Css3, bootstrap,Js, etc...</h5>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-center mt-4">
                    <img src="./img/ImgDeViewsEjemplo1Img1.gif" width="280 rem;" class="img-fluid rounded-3 border-0 ColocarEfectoDeZoom" alt="ImgNoEncontrada">
                </div>
            </div>
        </div>
        <!--Contenido De 2 Card-->
        <h1 class="TipoDeLetraEnSubTituloYTitulo text-white"><b>Proyectos Personales Pracctica Personal</b></h1>
        <h3 class="text-center text-white mt-3"><b>TODOS LOS DISEÑOS DE LOS PROYECTOS SON PERSONALES</b></h3>
        <!--Seccion De Proyectos Practia-->
        <div class="row text-white mt-4">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <!--Seccion De Imagen-->
            <div class="text-center mt-4">
              <img src="../../img/GifEjemploDeProyectosPractica.gif" width="350rem" class="img-fluid rounded-3 border-0 ColocarEfectoDeZoom" alt="ImgNoEncontrada">
            </div>
            <!--Seccion De Imagen-->
          </div>
          <div class="col-sm-6">
            <!--Seccion De Texto-->
            <h4 class="text-center text-white"><b>Te Proporciono El Link De Algunas Practicas Personales Y Los puedas Ver</b></h4>
              <h5 class="text-white mt-3"><b>Sistema De Colores En Hexadecimal:</b></h5>
              <div class="d-grid gap-2 col-3 mx-auto mt-3">
                <a href="https://luisalbertoattack1.github.io/ColoresCreativeCodeProyecto/" class="btn btn-secondary border-0 rounded-pill" type="button">Ingresar</a>
              </div>
              <h5 class="text-white mt-3"><b>Sitio De Musica Practica:</b></h5>
              <div class="d-grid gap-2 col-3 mx-auto mt-3">
                <a href="https://luisalbertoattack1.github.io/ProyectoMusic/" class="btn btn-secondary border-0 rounded-pill" type="button">Ingresar</a>
              </div>
              <h5 class="text-white mt-3"><b>Pagina De Nictee (Proyecto) Plantilla:</b></h5>
              <div class="d-grid gap-2 col-3 mx-auto mt-3">
                <a href="https://luisalbertoattack1.github.io/PlantillaProyectoNictee/" class="btn btn-secondary border-0 rounded-pill" type="button">Ingresar</a>
              </div>
            <!--Seccion De Texto-->
          </div>
        </div>
        <!--Seccio De Proyectos Practica-->
 
    </div>
    <!--Contenido De Container Principal-->

    <!--Container Donde Contiene El Footer-->
    <!--Vista Celular Footer-->
    <div class="shadow-lg border-1">
        <hr class="text-white">
        <!-- Logos juntos en vista móvil -->
        <div class="container d-flex flex-column justify-content-center align-items-center d-md-none mb-4">
          <div class="d-flex justify-content-center mb-3">
              <img src="../../img/LogoPersonal.webp" width="100rem" class="img-fluid mt-2 mb-2 mr-2" alt="Logo Principal">
              <img src="../../img/ImgGifFooter.gif" width="100rem" class="img-fluid mt-2 mb-2 ml-2" alt="Logo Gamer">
          </div>
          <div class="text-center mb-3">
                      <!--Contenido Final De Pagina-->
                      <h5 class="text-white mt-4 text-center"><b>Cretive Code<hr></b></h5>
                      <h6 class="text-white mt-3 mb-3 text-center">Portafolio De Evidencias De Luis Alberto Avila Olivares</h6>
                    <!--Contenido Final De Pagina-->
          </div>
          <div class="text-center mb-3">
                      <!--Contenido Final De Pagina-->
                      <h5 class="text-white mt-4 text-center"><b>Luis Albertoo Avila Olivares<hr></b></h5>
                      <h6 class="text-white mt-3 mb-3 text-center">Creative Code - Todos los Derechos Reservados</h6>
                      <!--Contenido Final De Pagina-->
          </div>
      </div>
        <!-- Logos separados en vista de escritorio -->
        <div class="container-fluid d-none d-md-flex justify-content-center align-items-center">
          <div class="row">
            <div class="col">
              <div class="text-center mb-3">
                <img src="../../img/LogoPersonal.webp" width="150rem" class="img-fluid mt-2" alt="" srcset="">
              </div>
            </div>
            <div class="col">
              <div class="text-center mb-3 mx-3"> <!-- Añadido mx-3 para margen horizontal -->
                <!--Contenido Final De Pagina-->
                <h5 class="text-white mt-4 text-center"><b>Cretive Code<hr></b></h5>
                <h6 class="text-white mt-3 mb-3 text-center">Portafolio De Evidencias De Luis Alberto Avila Olivares</h6>
              <!--Contenido Final De Pagina-->
            </div>
            </div>
            <div class="col">
              <div class="text-center mb-3 mx-3"> <!-- Añadido mx-3 para margen horizontal -->
                <!--Contenido Final De Pagina-->
                <h5 class="text-white mt-4 text-center"><b>Luis Albertoo Avila Olivares<hr></b></h5>
                <h6 class="text-white mt-3 mb-3 text-center">Creative Code - Todos los Derechos Reservados</h6>
                <!--Contenido Final De Pagina-->
            </div>
            </div>
            <div class="col">
              <div class="text-center">
                <img src="../../img/ImgGifFooter.gif" width="150rem" class="img-fluid mt-2" alt="" srcset="">
              </div>
            </div>
          </div>
      </div>
    </div>
    <!--Vista Celular Footer-->
    <!--Container Donde Contiene El Footer-->
  
        <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
        <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
        <script src="../../public/js/mascaraDeCarga/jquery-3.2.1.min.js"></script>
        <script src="../../public/js/mascaraDeCarga/jquery.blockUI.js"></script>
        <script src="../../js/mascaraDeCarga/mascara.js"></script>
        <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
        <script src="../js/bootstrap/bootstrap.min.js"></script>

    <script src="../../public/js/aos.js"></script>
        <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
</body>
</html>